name: deps

on:
  workflow_dispatch:
  schedule:
    - cron: '0 9 * * 0'

env:
  JAVA_VERSION: '24'

permissions:
  contents: write
  pull-requests: write

jobs:
  scala-steward:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          cache: sbt
      - name: Generate GH token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.SCALA_STEWARD_APP_ID }}
          private-key: ${{ secrets.SCALA_STEWARD_APP_PRIVATE_KEY }}
          owner: dhth
          repositories: |
            chronotes
      - name: Scala Steward
        uses: scala-steward-org/scala-steward-action@v2
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          author-email: '41898282+github-actions[bot]@users.noreply.github.com'
          author-name: 'github-actions[bot]'
